#root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-warp: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

@media screen and (min-width: 1080px) {
  .card {
    flex: 1 1 calc(16% - 2rem);
  }
}
