#root {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
  min-height: 75%;
  padding: 10px;
}

.nickname {
  font-size: 30px;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
}

.bottom-text {
  vertical-align: bottom;
}

h1 {
  font-size: 50px;
  font-family: 'pokemon-solid';
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  padding-left: 35%;
}

li {
  text-align: center;
}

ul {
  padding-left: 35%;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

@media screen and (min-width: 1080px) {
  .card {
    flex: 1 1 calc(25% - 2rem);
  }
}

@font-face {
  font-family: 'pokemon-solid';
  src: url('pokemon-solid.ttf');
}


@font-face {
  font-family: 'pokemon-hollow';
  src: url('pokemon-hollow.ttf');
}
